.Rproj.user
.Rhistory
.RData
.Ruserdata
.snakemake
logs/
resources/reads/
resources/reference/
resources/regions/
.test/results
.test/resources
docs/
results/
oldResults/
miscResults/
x-pca.png
glmfst/
*Rproj
*.code-workspace
config/config.yaml
config/samples.tsv
*snpEff_summary.html
workflow/scripts/misc
.test/workflow/scripts/
.ipynb_checkpoints
workflow/scripts/snpEff