# RNA-Seq-Pop

metadata: config/samples.tsv                    # samplesheet metadata file

dataset: 'Ag_Bouake'                            # Dataset name: Can be anything, will be used to name some main output files

# if True, this builds a local webpage including some the analyses 
# of rna-seq-pop
jupyter-book:
   activate: True

## Fastq filenames and locations can either be specified in the config/samples.tsv file in columns called
## fq1 and fq2 (paired end reads) OR if auto: True -
## gzipped fastq files should be stored in the resources/reads/ directory
## If the sampleID is Kisumu1 in the samples.tsv file, the paired-end reads 
## should be named Kisumu1_1.fastq.gz, and Kisumu1_2.fastq.gz. 
## Treatment names in samples.tsv should not contain underscores
fastq:
      auto: True 
      paired: True                                                              

# Paths for reference files 
reference:
  genome:
        "resources/reference/Anopheles-gambiae-PEST_CHROMOSOMES_AgamP4.fa"        # Path to genome reference FASTA file
  transcriptome:
        "resources/reference/Anopheles-gambiae-PEST_TRANSCRIPTS_AgamP4.12.fa"     # Path to transcriptome reference FASTA file
  gff:
        "resources/reference/Anopheles-gambiae-PEST_BASEFEATURES_AgamP4.12.gff3"  # Path to GFF annotation file
  snpeffdb:
        "Anopheles_gambiae"                                                       # SNPeff database name
  genes2transcripts:                                                                
        "resources/exampleGene2TranscriptMap.tsv"                                 # gene names file with gene and transcript names

# Chromosome names for the appropriate species.
# Please ensure that these correspond exactly to the reference fasta/gff files. Extra unwanted chromosomes (unplaced contigs) can be ignored. 
contigs: ['2L', '2R', '3L', '3R', 'X']

# List of contrasts to do Differential Expression and Fst analysis on. 
# Should correspond to the 'treatment' columns of the samples.tsv file, 
# and be separated by an underscore "_". i.e 'control_case', or 'Kisumu_Tiassale'.
# The treatment names themselves must not contain underscores
contrasts:
      - 'Kisumu_gambiaeCont'
      - 'gambiaeCont_gambiaePM'


QualityControl:
      fastp-trim:
            activate: False
      mosdepth:
            activate: True
      multiqc:
            activate: True 



DifferentialExpression:
      gene-level:                # required for many other analyses (recommend True)
            activate: True
      isoform-level:
            activate: True 

      venn:
            activate: True
            padj_threshold: 0.05
            groups: ['gambiaeCont_gambiaePM', 'Kisumu_gambiaeCont']

      geneHeatmaps:
            activate: False
            gene_list_tsv: "resources/example_heatmap_gene_list.tsv"

      progressiveGenes:                       # Activate progressiveGenes analysis. Will find genes that are consistently up or downregulated across two comparisons. 
            activate: True                    # For example - which genes upregulated in Kisumu v gambiaeCont, are also upregulated in gambiaeCont v gambiaePM
            padj_threshold: 0.05
            fc_threshold: 1
            groups: "Kisumu_gambiaeCont_gambiaePM"

      GSEA:                                 # Activate Gene set enrichment analysis 
            activate: True
            gaf: "resources/reference/VectorBase-50_AgambiaePEST_GO.gaf"



VariantAnalysis:
      activate: True
      ploidy: 10                          # Ploidy level for freebayes to call at (Generally we are using pooled samples).For diploid organisms, this should be 2 * number of individuals in each pool
      chunks: 9                           # Number of chunks to split each chromosome into when parallelising freebayes. 9 or less is recommended. 

      pca:                                # Run PCA on the genotype data
            activate: True
            missingness: 1 
      
      summaryStatistics:                  # Estimate Population Genetic Summary Statistics such as Dxy, Pi
            activate: True
            missingness: 1

      selection:                          # Calculate Fst and PBS per gene and in windows
            activate: True
            missingness: 1

            pbs:
                  activate: True          # Activate Population Branch Statistic analysis (Needs three conditions, two closely related and an outgroup) for resistance, do survivors_unexposed_susceptible
                  contrasts: 
                        - 'gambiaePM_gambiaeCont_Kisumu'

      ancestry:                                # For Anopheles gambiae s.l only
            activate: True
            missingness: 0.5                                # proportion between 0 and 1 
            gambcolu: "resources/gamb_vs_colu.zarr"         # path to gambcolu AIMs
            arab: "resources/gambcolu_vs_arab.zarr"         # path to arab AIMs

      karyotype:                            # For Anopheles gambiae s.l only
            activate: True
            inversions:
                  - "2La"
       #           - "2Rj"
                  - "2Rb"
        #          - "2Rc_col"
          #        - "2Rc_gam"
           #       - "2Rd"
            #      - "2Ru"



miscellaneous:
      VariantsOfInterest:                                
            activate: True                             
            path: "resources/exampleMutations.tsv"          
      
      GeneFamiliesHeatmap:
            activate: True
            eggnog: resources/Anogam_long.pep_eggnog_diamond.emapper.annotations.tsv.gz.GO
            pfam: resources/Anogam_long.pep_Pfamscan.seqs.gz

      # find DE genes that lie under Ag1000g selective sweeps 
      # Only applicable for Anopheles gambiae s.l
      sweeps:
            activate: True
            padj_threshold: 0.05
            fc_threshold: 1.5
